<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brodybits.TestApp" version="0.0.1-dev" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordova-json-sqlite-memory-engine-testapp-pro-wip-free</name>
    <description>
        Cordova SQLite bootstrap test app for JSON SQLite engine
    </description>
    <author email="chris@brody.consulting" href="https://chrisbrody.com">
        @brodybits (Christopher J. Brody aka Chris Brody)
    </author>
    <content src="index.html" />
</widget>
